# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store
